<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PostCSS-samples</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default fixed">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#properties ">properties</a></li>
      <li><a href="#calc">calc</a></li>
      <li><a href="#media">media</a></li>
      <li><a href="#color">color</a></li>
      <li><a href="#hwb">hwb</a></li>
      <li><a href="#gray">gray</a></li>
      <li><a href="#rem-Units">rem units</a></li>
      <li class="active"><a href="index.html" class="right">cssnext</a></li>
      <li><a href="plugin.html">plugin</a></li>
    </ul>
</nav>

<!-- custom properties & var -->
<section id="properties" class="container add-padding">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- calc -->
<section id="calc" class="container">
  <div class="row">
    <h1 class="col-sm-12">calc()</h1>
    <div class="col-sm-12"><div class="calc">ボックス</div></div>
  </div>
</section>

<!-- custom media queries and ranges -->
<section id="media" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom media queries and ranges</h1>
    <div class="col-sm-12"><div class="media">ブラウザの広げたり狭めたりすると背景が変わるよ！</div></div>
  </div>
</section>

<!-- color -->
<section id="color" class="container">
  <div class="row">
    <h1 class="col-sm-12">color()</h1>
    <div class="col-sm-3"><div class="color-1">color-1</div></div>
    <div class="col-sm-3"><div class="color-2">color-2</div></div>
    <div class="col-sm-3"><div class="color-3">color-3</div></div>
    <div class="col-sm-3"><div class="color-4">color-4</div></div>
  </div>
</section>

<!-- hwb -->
<section id="hwb" class="container">
  <div class="row">
    <h1 class="col-sm-12">hwb()</h1>
    <div class="col-sm-6"><div class="hwd-1">hwd-1</div></div>
    <div class="col-sm-6"><div class="hwd-2">hwd-2</div></div>
  </div>
</section>

<!-- gray -->
<section id="gray" class="container">
  <div class="row">
    <h1 class="col-sm-12">gray()</h1>
    <div class="col-sm-4"><div class="gray-1">gray-1</div></div>
    <div class="col-sm-4"><div class="gray-2">gray-2</div></div>
    <div class="col-sm-4"><div class="gray-3">gray-3</div></div>
  </div>
</section>

<!-- rem units -->
<section id="rem-Units" class="container">
  <div class="row">
    <h1 class="col-sm-12">rem units</h1>
    <div class="col-sm-12"><div class="rem-Units">rem-Units</div></div>
  </div>
</section>

<footer class="blog-footer">
  <div class="container copyright">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/common.js"></script>
</body>
<html>

