<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PostCSS-samples</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#properties ">properties</a></li>
        <li><a href="#calc">calc</a></li>
        <li><a href="#media">media</a></li>
        <li><a href="#color">color</a></li>
        <li><a href="#hwb">hwb</a></li>
        <li><a href="#gray">gray</a></li>
        <li><a href="#rem-Units">rem units</a></li>
      </ul>
  </nav>

<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<section id="calc" class="container">
  <div class="row">
    <h1 class="col-sm-12">calc()</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>

<section id="media" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom media queries and ranges</h1>
  </div>
</section>

<section id="color" class="container">
  <div class="row">
    <h1 class="col-sm-12">color()</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>

<section id="hwb" class="container">
  <div class="row">
    <h1 class="col-sm-12">hwb()</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>

<section id="gray" class="container">
  <div class="row">
    <h1 class="col-sm-12">gray()</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>

<section id="rem-Units" class="container">
  <div class="row">
    <h1 class="col-sm-12">rem units</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>

<p class="foo">テスト1</p>
<p class="foo1">テスト2</p>
<p class="foo2">テスト3</p>
<p class="color1">カラー1</p>
<p class="color2">カラー2</p>
<p class="color3">カラー3</p>
<p class="hue-wheel"></p>

<footer class="blog-footer">
  <div class="container">
    <p class="text-muted center">Place sticky footer content here.</p>
  </div>
</footer>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/common.js"></script>
</body>
<html>

