<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PostCSS-samples</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#properties ">properties</a></li>
        <li><a href="#calc">calc</a></li>
        <li><a href="#media">media</a></li>
        <li><a href="#color">color</a></li>
        <li><a href="#hwb">hwb</a></li>
        <li><a href="#gray">gray</a></li>
        <li><a href="#rem-Units">rem units</a></li>
      </ul>
  </nav>

<!-- extend -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">mixin</h1>
    <div class="col-sm-4"><div class="box-1">mixin</div></div>
    <div class="col-sm-4"><div class="box-2">mixin</div></div>
    <div class="col-sm-4"><div class="box-3">mixin</div></div>
  </div>
</section>

<!-- custom properties & var -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">extend</h1>
    <div class="col-sm-4"><div class="extend">extend</div></div>
    <div class="col-sm-4"><div class="extend-1">extend</div></div>
    <div class="col-sm-4"><div class="extend-2">extend</div></div>
  </div>
</section>

<!-- nested -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">nested</h1>
    <div class="col-sm-12 nest">
      <li>リスト1</li>
      <li>リスト2</li>
      <li>リスト3</li>
      <li>リスト4</li>
      <li>リスト5</li>
      <li>リスト6</li>
    </div>
  </div>
</section>

<!-- vars -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">vars</h1>
    <div class="col-sm-6 "><div class="vars-1">vars</div></div>
    <div class="col-sm-6"><div class="vars-2">vars</div></div>
  </div>
</section>

<!-- autoprefixer -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">autoprefixer</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- size -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">size</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- sprites -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">sprites</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- svg -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">svg</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<footer class="blog-footer">
  <div class="container copyright">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/common.js"></script>
</body>
<html>

