<!-- custom properties & var -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- calc -->
<section id="calc" class="container">
  <div class="row">
    <h1 class="col-sm-12">calc()</h1>
    <div class="col-sm-12"><div class="calc">ボックス</div></div>
  </div>
</section>

<!-- custom media queries and ranges -->
<section id="media" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom media queries and ranges</h1>
    <div class="col-sm-12"><div class="media">ブラウザの広げたり狭めたりすると背景が変わるよ！</div></div>
  </div>
</section>

<!-- color -->
<section id="color" class="container">
  <div class="row">
    <h1 class="col-sm-12">color()</h1>
    <div class="col-sm-3"><div class="color-1">color-1</div></div>
    <div class="col-sm-3"><div class="color-2">color-2</div></div>
    <div class="col-sm-3"><div class="color-3">color-3</div></div>
    <div class="col-sm-3"><div class="color-4">color-4</div></div>
  </div>
</section>

<!-- hwb -->
<section id="hwb" class="container">
  <div class="row">
    <h1 class="col-sm-12">hwb()</h1>
    <div class="col-sm-6"><div class="hwd-1">hwd-1</div></div>
    <div class="col-sm-6"><div class="hwd-2">hwd-2</div></div>
  </div>
</section>

<!-- gray -->
<section id="gray" class="container">
  <div class="row">
    <h1 class="col-sm-12">gray()</h1>
    <div class="col-sm-4"><div class="gray-1">gray-1</div></div>
    <div class="col-sm-4"><div class="gray-2">gray-2</div></div>
    <div class="col-sm-4"><div class="gray-3">gray-3</div></div>
  </div>
</section>

<!-- rem units -->
<section id="rem-Units" class="container">
  <div class="row">
    <h1 class="col-sm-12">rem units</h1>
    <div class="col-sm-12"><div class="rem-Units">rem-Units</div></div>
  </div>
</section>
