<section class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4 root">ブロック</div>
    <div class="col-sm-4 root">ブロック</div>
    <div class="col-sm-4 root">ブロック</div>
  </div>
</section>


<section class="container">
  <div class="row">
    <h1 class="col-sm-12">custom media queries and ranges</h1>
    <div class="col-sm-12 media-color">ボックス</div>
  </div>
</section>
