<footer class="blog-footer">
  <div class="container copyright">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/common.js"></script>
</body>
<html>
