<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PostCSS-samples</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default fixed">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#properties ">properties</a></li>
        <li><a href="#calc">calc</a></li>
        <li><a href="#media">media</a></li>
        <li><a href="#color">color</a></li>
        <li><a href="#hwb">hwb</a></li>
        <li><a href="#gray">gray</a></li>
        <li><a href="#rem-Units">rem units</a></li>
      </ul>
  </nav>
