<nav class="navbar navbar-default fixed pc">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#mixin">mixin</a></li>
      <li><a href="#extend">extend</a></li>
      <li><a href="#nested">nested</a></li>
      <li><a href="#vars">vars</a></li>
      <li><a href="#autoprefixer">autoprefixer</a></li>
      <li><a href="#size">size</a></li>
      <li><a href="#advanced-variables">advanced-variables</a></li>
      <li><a href="index.html" class="right">cssnext</a></li>
      <li class="active"><a href="plugin.html">plugin</a></li>
    </ul>
</nav>
