<!-- extend -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">extend</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- custom properties & var -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">mixin</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- nested -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- vars -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- autoprefixer -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- size -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- sprites -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>

<!-- svg -->
<section id="properties" class="container">
  <div class="row">
    <h1 class="col-sm-12">custom properties & var()</h1>
    <div class="col-sm-4"><div class="root-1">ブロック</div></div>
    <div class="col-sm-4"><div class="root-2">ブロック</div></div>
    <div class="col-sm-4"><div class="root-3">ブロック</div></div>
  </div>
</section>
