/* custom properties & var() */
:root {
  --bgBlue: #b2ebf2;
  --bgGreen: #b2dfdb;
  --bgPurple: #d1c4e9;
  --padding: 20px 0;
  --fontSize: 18px;
  --width: 100%;
  --textCenter: center;
}

.root-1,.root-2,.root-3 {
  padding: var(--padding);
  width: var(--width);
  text-align: var(--textCenter);
  font-size: var(--fontSize);
}

.root-1 {
  background-color: var(--bgBlue);
}

.root-2 {
  background-color: var(--bgGreen);
}

.root-3 {
  background-color: var(--bgPurple);
}


/* calc() */
.calc {
  background-color: #e0f2f1;
  font-size: calc(6 * 3)px;
  width: calc(100 - 40)%;
  padding: calc(100 / 5)px;
  margin: 0 auto;
  text-align: center;
}


/* custom media queries and ranges */
@custom-media --small (width <= 767px);
@custom-media --medium-min (width >= 768px);
@custom-media --medium-max (width <= 991px);
@custom-media --large (width >= 992px);


.media {
  padding: 20px 0;
  @media (--small) {
    background-color: #b2ebf2;
  }
  @media (--medium-min) and (--medium-max) {
    background-color: #b2dfdb;
  }
  @media (--large) {
    background-color: #d1c4e9;
  }
}


/* color() */
.color-1,.color-2,.color-3,.color-4 {
  text-align: center;
  padding: 20px 0;
}
.color-1 {
  background-color: color(#006064 alpha(-90%));
}

.color-2 {
  background-color: color(#006064 alpha(-60%));
}

.color-3 {
  background-color: color(#006064 alpha(-30%));
}

.color-4 {
  background-color: color(#006064 alpha(-10%));
}


/* hwb() */
.hwd-1 {
  background-color: rgba(128, 255, 0, 0.5);
  padding: 20px 0;
  text-align: center;
}

.hwd-2 {
  background-color: rgba(128, 100, 30, 0.5);
  padding: 20px 0;
  text-align: center;
}


/* gray() */
.gray-1,.gray-2,.gray-3 {
  padding: 20px 0;
  text-align: center;
}
.gray-1 {
  background-color: gray(120);
}

.gray-2 {
  background-color: gray(30%, 90%);
}

.gray-3 {
  background-color: gray(90%, 30%);
}


/* rem units */
.rem-Units {
  width: 40rem;
  padding: 2.0rem 0;
  text-align: center;
  margin: 0 auto;
  background-color: #b2dfdb;
}
