/* custom properties & var() */
:root {
  --bgBlue: #b2ebf2;
  --bgGreen: #b2dfdb;
  --bgPurple: #d1c4e9;
  --padding: 20px 0;
  --fontSize: 18px;
  --width: 100%;
  --textCenter: center;
}

.root-1,.root-2,.root-3 {
  padding: var(--padding);
  width: var(--width);
  text-align: var(--textCenter);
  font-size: var(--fontSize);
}

.root-1 {
  background-color: var(--bgBlue);
}

.root-2 {
  background-color: var(--bgGreen);
}

.root-3 {
  background-color: var(--bgPurple);
}


/* calc() */
.calc {
   font-size: calc(7 * 2)px;
}

/* custom media queries and ranges */
@custom-media --small-viewport (width <= 767px);
@custom-media --medium-between-viewport (width >= 768px);
@custom-media --medium-viewport (width <= 991px);
@custom-media --over (width >= 992px);
@custom-media --large-viewport (width <= 1200px);

@media (--small-viewport) {
  .media-color {
    background-color: #00b0ff;
  }
}

@media (--medium-between-viewport) and (--medium-viewport) {
  .media-color {
    background-color: #00e5ff;
  }
}

@media (--over) {
  .media-color {
    background-color: #1de9b6;
  }
}

/* color() */
a {
  color: color(red alpha(-10%));
}

/* hwb() */
.tests {
  color: hwb(90, 0%, 0%, 0.5);
}

/* gray() */
.foo {
  color: gray(85);
}

.bar {
  color: gray(10%, 50%);
}

/* rem units */
h4 {
  font-size: 1.5rem;
}
