.comment { background: url(../img/sam1.jpg) no-repeat 0 0; }
.bubble { background: url(../img/sam2.jpg) no-repeat 0 0; }

.arrows { background: url(../img/sam3.jpg) no-repeat 0 0; }
.logo { background: url(../img/sam4.jpg) no-repeat 0 0; }
.test { background: url(../img/sam5.jpg) no-repeat 0 0; }
.test2 { background: url(../img/sam6.jpg) no-repeat 0 0; }
