.comment { background-image: url(../img/main.png); background-position: 0 0; }
.bubble { background-image: url(../img/main.png); background-position: -1000px 0; }

.arrows { background-image: url(../img/main.png); background-position: 0 -667px; }
.logo { background-image: url(../img/main.png); background-position: -1000px -667px; }
.test { background-image: url(../img/main.png); background-position: -2000px 0; }
.test2 { background-image: url(../img/main.png); background-position: -2000px -667px; }
