@media screen and (min-width: 500px) and (max-width: 1200px) {
    .bar {
        display: block
    }
}
.laco {
    opacity: 1
}
.hoge {
    width: 200px
}

.testcase {
  font-size: 15px;
  width: 30px;
}
