html {
    font-size: 62.5%;
}
body {
    font-size: 14px;
    font-size: 1.4rem;
}
h1 {
    font-size: 26px;
    border-bottom: solid 3px #ccc;
    padding: 5px;
    margin: 30px auto;
}
.copyright {
    text-align: center;
}
.copyright p {
    margin: 0;
    padding: 13px 0;
    padding: 1.3rem 0;
}
.blog-footer {
    margin: 50px 0 0 0;
    margin: 5.0rem 0 0 0;
    background-color: #f8f8f8;
    border-top: solid 1px #e7e7e7;
}
.fixed {
    width: 100%;
    position: fixed;
    z-index: 100;
}
.add-padding {
    padding: 80px 0 0 0;
}
/* custom properties & var() */
.root-1, .root-2, .root-3 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.root-1 {
    background-color: #b2ebf2;
}
.root-2 {
    background-color: #b2dfdb;
}
.root-3 {
    background-color: #d1c4e9;
}
/* calc() */
.calc {
    background-color: #e0f2f1;
    font-size: 18px;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
/* custom media queries and ranges */
.media {
    padding: 20px 0;
}
@media (max-width: 767px) {
    .media {
        background-color: #b2ebf2;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .media {
        background-color: #b2dfdb;
    }
}
@media (min-width: 992px) {
    .media {
        background-color: #d1c4e9;
    }
}
/* color() */
.color-1, .color-2, .color-3, .color-4 {
    text-align: center;
    padding: 20px 0;
}
.color-1 {
    background-color: #006064;
    background-color: rgba(0, 96, 100, 0.09999999999999998);
}
.color-2 {
    background-color: #006064;
    background-color: rgba(0, 96, 100, 0.4);
}
.color-3 {
    background-color: #006064;
    background-color: rgba(0, 96, 100, 0.7);
}
.color-4 {
    background-color: #006064;
    background-color: rgba(0, 96, 100, 0.9);
}
/* hwb() */
.hwd-1 {
    background-color: #80FF00;
    background-color: rgba(128, 255, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}
.hwd-2 {
    background-color: #80641E;
    background-color: rgba(128, 100, 30, 0.5);
    padding: 20px 0;
    text-align: center;
}
/* gray() */
.gray-1, .gray-2, .gray-3 {
    padding: 20px 0;
    text-align: center;
}
.gray-1 {
    background-color: rgb(120, 120, 120);
}
.gray-2 {
    background-color: #4D4D4D;
    background-color: rgba(77, 77, 77, 0.9);
}
.gray-3 {
    background-color: #E5E5E5;
    background-color: rgba(229, 229, 229, 0.3);
}
/* rem units */
.rem-Units {
    width: 400px;
    width: 40rem;
    padding: 20px 0;
    padding: 2.0rem 0;
    text-align: center;
    margin: 0 auto;
    background-color: #b2dfdb;
}
/* mixin */
.box-1 {
    padding: 20px 0;
    text-align: center;
    background-color: #ffcdd2;
}
.box-2 {
    padding: 20px 0;
    text-align: center;
    background-color: #ffcdd2;
    background-color: #f8bbd0;
}
.box-3 {
    padding: 20px 0;
    text-align: center;
    background-color: #ffcdd2;
    background-color: #8e24aa;
    color: #fff;
}
@media screen and (min-width: 16px) {
    .media-query {
        width: 150px;
    }
}
@media screen and (max-width: 300px) {
    .media-query {
        width: 150px;
    }
}
@media screen and (min-width: 200px) and (max-width: 300px) {
    .media-query {
        width: 150px;
    }
}
/* extend */
.extend, .extend-1, .extend-2 {
    padding: 20px 0;
    text-align: center;
    background-color: #ffccbc;
}
.extend-1 {
    background-color: #d7ccc8;
}
.extend-2 {
    background-color: #757575;
    color: #fff;
}
/* nested */
.nest {
    text-align: center;
}
.nest li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    border: solid 1px #ccc;
    background-color: #006064;
    background-color: rgba(0, 96, 100, 0.07999999999999996);
    margin: 0 10px;
}
/* vars */
.vars-1, .vars-2 {
    padding: 20px 0;
    text-align: center;
    background-color: #84ffff;
}
.vars-2 {
    background-color: #a7ffeb;
}
/* autoprefixer */
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex li {
    padding: 20px 50px;
    background-color: #ffcdd2;
    list-style: none;
    margin: 20px;
}
/* size */
.size {
    width: 300px;
    height: auto;
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
    background-color: #ffccbc;
}
/* advanced-variables */
.blue {
    background-color: #0000FF;
    background-color: rgba(0, 0, 255, 0.4);
    text-align: center;
    padding: 20px;
}
.red {
    background-color: #FF0000;
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
    padding: 20px;
}
.green {
    background-color: #008000;
    background-color: rgba(0, 128, 0, 0.4);
    text-align: center;
    padding: 20px;
}
.number-1 {
    background-color: #800080;
    background-color: rgba(128, 0, 128, 0.4);
    padding: 20px 0;
    text-align: center;
}
.number-3 {
    background-color: #800080;
    background-color: rgba(128, 0, 128, 0.4);
    padding: 20px 0;
    text-align: center;
}
.number-5 {
    background-color: #800080;
    background-color: rgba(128, 0, 128, 0.4);
    padding: 20px 0;
    text-align: center;
}
.number-7 {
    background-color: #800080;
    background-color: rgba(128, 0, 128, 0.4);
    padding: 20px 0;
    text-align: center;
}
