a {
  a:link { color: #0000ff; }
  a:visited { color: #000080; }
  a:hover { color: #ff0000; }
  a:active { color: #ff8000; }
}

h1 {
  font-size: $base-30px;
  margin: $base-20px 0;
}

h2 {
  border-left: solid $base-8px #af6c59;
  margin: $base-15px 0;
  padding: $base-15px;
  font-size: $base-22px;
  font-weight: bold;
}

// ベンダープレフィックスを自動で付与する
$set-prefix: '' , -moz- , -webkit-;

// プロパティにプレフィックスを付与
@mixin PropertySetPrefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$prefix}#{$name}: $value;
  }
}

// 値にプレフィックスを付与
@mixin ValueSetPrefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$name}: #{$prefix}$value;
  }
}

//errorのcss
.error {
  border-color: rgba(228, 44, 44, 0.5)!important;
  background-color: rgba(228, 44, 44, 0.2);
  @include PropertySetPrefix(transition, all .3s);
}

.add-border {
  border-right: solid 1px #fff;
}

.center {
  text-align: center;
}

.title {
  font-size: $base-30px;
  padding: $base-8px ;
  border-bottom: solid $base-2px $dark;
  color: $high-dark;
}

.description {
  font-size: $base-15px;
  margin: $base-20px;
}

.clearFix {
  content: "";
  clear: both;
  display: block;
}

.title-wrap {
  padding: $base-30px 0;
  &:after {
    @extend .clearFix;
  }
}
// flex
.flex {
  @include ValueSetPrefix(display, flex);
}
// flex-stretch
.flex-stretch {
  @include PropertySetPrefix(align-items, stretch);
  @include ValueSetPrefix(display, flex);
}

.flex-center {
  @include ValueSetPrefix(display, flex);
  @include PropertySetPrefix(align-content, center);
}

//img
.img {
  width:100%;
  height:auto;
}

//最上部に戻る
.page-top {
	margin: 0;
	padding: 0;
}

.page-top p {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 16px;
	bottom: 16px;
  z-index: 1000;
}

.move-page-top {
	display: block;
	background: $dark;
	width: 50px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}

.move-page-top:hover {
	opacity: 0.85;
}

//media queryの設定
$col-xs: 34rem - $base-1px;
$col-sm: 34rem;
$col-md: 48rem;
$col-lg: 62rem;
$col-xl: 75rem;

//max-width
@mixin max($maxWidth) {
  @media screen and (min-width: $maxWidth) {
    @content;
  }
}

//min-width
@mixin min($minWidth) {
  @media screen and (max-width: $minWidth){
    @content;
  }
}

//width 〜 width
@mixin between($minWidth,$maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth - $base-1px) {
    @content;
  }
}

//テストコード 表示確認用
.test123 {
  padding: $base-20px 0;
  @include min($col-xs) {
    background-color:red;
  }
  @include between($col-sm,$col-md) {
    background-color:green;
  }
  @include between($col-md,$col-lg) {
    background-color:#ccc;
  }
  @include between($col-lg,$col-xl) {
    background-color:blue;
  }
  @include max($col-xl) {
    background-color:#000;
  }
}
