/*-----------------------------------*
 *  色のテンプレート
 *-----------------------------------*/
$high-light: #ffd5c8;
$light: #ecae97;
$high-dark: #af6c59;
$dark: #e68f71;

/*-----------------------------------*
 *  テキストのテンプレート
 *-----------------------------------*/
$text: #6c6c6c;
$text-dark: #222;
$text-light: #fff;
