.blog-image {
  text-align:center;
  img {
    @extend .img;
    width: 40%;
    @include PropertySetPrefix(border-radius, 50%);
  }
}

.blog-wrap {
  background-color: rgba(255,213,200,0.3);
  padding: $base-25px 0;
}

.blog-title {
  font-size: $base-25px;
  margin: $base-10px 0;
  color: $high-dark;
}

.blog-description {
  margin: $base-20px 0;
  color: $high-dark;
}

.blog-btn {
  text-align:center;
  margin: $base-25px auto;
  span {
    border: solid $base-1px #e68f71;
    @include PropertySetPrefix(border-radius, $base-5px);
    padding: $base-20px;
    background-color: #e68f71;
    color: #fff;
    &:hover {
      opacity: 0.6;
      transition-duration:0.5s;
    }
  }
}
