.form-left{
  text-align:left;
}

.form-input {
  border: $base-1px solid #ccc;
  padding: $base-10px;
  @include PropertySetPrefix(border-radius, $base-5px);
  margin: $base-10px 0;
  @include PropertySetPrefix(appearance, none);
}

.form-select {
  @extend .form-input;
  @include PropertySetPrefix(appearance,button);
  padding: $base-10px $base-8Half;
  background-color: #fff;
}

.form-textarea {
  @extend .form-input;
}

.form-label {
  @extend .form-input;
  background-color: $high-light;
  border: solid $base-1px $high-light;
  font-weight:bold;
  text-align: center;
  color: $text;
}

.form-submit {
  @include PropertySetPrefix(appearance, none!important);
  @include PropertySetPrefix(border-radius, $base-5px);
  border:none;
  background:#e68f71;
  color:#fff;
  width:100%;
  padding: $base-15px 0;
  margin: $base-30px 0;
  height:auto;
  font-size: $base-17px;
  &:hover {
    opacity:0.6;
    transition-duration:0.5s;
  }
}

.form-reset {
  @extend .form-submit;
  &:hover {
    opacity:0.6;
    transition-duration:0.5s;
  }
}
