.intro-list {
  background-color:#e68f71;
  color:#fff;
  padding: $base-24px 0;
  p {
    margin:0;
    padding: $base-10px;
  }
}

.intro-content {
  text-align:center;
  @include max($col-sm) {
    @include PropertySetPrefix(align-items, stretch);
    @include ValueSetPrefix(display, flex);
  }
  @include min($col-xs) {
    display: block;
  }
  //@extend .flex-stretch;
}

.intro-title {
  font-size: $base-30px;
}

.intro-description {
}
